<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="../static/ChatNow/ChatNow_4.png" ></a>
        </a>
    </div>

   
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-primary is-normal" href="{% url 'Usuarios:login' %}">
                    <strong>Iniciar Sesion</strong>
                </a>
                <a class="button is-light">
                    Registrarse
                </a>
            </div>
        </div>
    </div>
    </div>
</nav>