{% extends "Usuarios/base.html" %}
{% block title %}Iniciar sesion {% endblock %}
{% block body %}
<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form action="" class="box">
            
            <div class="field">
              <figure class="image is-128x128 mgl-large">
                <img src="../../static/Usuarios/logo.png">
              </figure>
              <label for="" class="label is-size-6">Nombre de usuario</label>
              <div class="control">
                <input placeholder="ej: nickx1070" class="input" required>
              </div>
            </div>
            <div class="field pt-3">
              <label for="" class="label is-size-6">Contraseña</label>
              <div class="control">
                <input type="password" placeholder="*******" class="input" required>
              </div>
            </div>

            <div class="field">
              <label for="" class="checkbox">
                <input type="checkbox">
                Recordarme
              </label>
            </div>
            <div class="field">
              <button class="button is-primary is-fullwidth">
                Iniciar sesión
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}